
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lily+Script+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pompiere&family=Ranchers&display=swap');

@import "tailwindcss";

 @plugin "daisyui";

 @plugin "daisyui" {

   themes: light --default, dark --prefersdark;

 }


 /* ✅ Custom CSS inside Tailwind layers */
@layer components {
  .notification-card {
    @apply bg-base-200 border-l-4 border-primary p-4 rounded-lg shadow-md;
  }

  .btn-gradient {
    @apply bg-gradient-to-r from-purple-500 to-pink-500 text-white font-bold py-2 px-4 rounded-xl;
  }
}

body{
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
     font-family: "Lily Script One", system-ui;
}

.pt-serif {
  font-family: "PT Serif", serif;
}

.pompiere {
  font-family: "Pompiere", sans-serif;
}

.grey-qo {
  font-family: "Grey Qo", cursive;
}

.ranchers {
  font-family: "Ranchers", sans-serif;
}